[submodule "newrelic"]
	path = newrelic
	url = https://github.com/djoos-cookbooks/newrelic.git
[submodule "python"]
	path = python
	url = https://github.com/poise/python.git
[submodule "apt"]
	path = apt
	url = https://github.com/chef-cookbooks/apt.git
[submodule "yum"]
	path = yum
	url = https://github.com/chef-cookbooks/yum.git
