<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0; URL=<%= node[:ganglia][:web][:url] %>">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="icon" href="/images/favicon.png" type="image/png" />
  <title>Monitoring</title>
</head>
<body>
  <h1>Ganglia Monitoring</h1>
  <p>
    Proceed to the <a href="<%= node[:ganglia][:web][:url] %>">Monitoring UI</a>
  </p>
</body>
</html>
